@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600');
@import "margin-padding.css";

$main-color: #0086F3;
$link-color: #3DA9F8;
$nav-normal-color: #7B909D;
$text-title-color: #37474f;
$text-subtitle-color: #000;
$text-color: #777;
$text-prompt-color: #9B9B9B;
$text-strong-color: #4A4A4A;


.min-w150 {min-width: 150px!important;}
.min-w170 {min-width: 170px!important;}
.min-w200 {min-width: 200px!important;}
.w-100 {width:100%!important;}



.text-danger {color:#FE2851!important;}
.text-success {color:#5EB400 !important;}
.text-white {color:white!important;}
.text-black {color:black!important;}


* {
	outline: none!important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	box-sizing: border-box!important; 
}

body {
	font-family: 'Source Sans Pro',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 16px;
	color:$text-color;
	background-color: #fff;
}

.gray-color {color: $text-prompt-color!important;}

a, a:active, a:focus, a:link {
	color:$link-color;
	text-decoration: none!important;
	
	&:hover {
		color:$main-color;
	}
	
	&.panel {display:block!important;}
	
	&.touch-link {
		padding:6px 12px;
	}
}

a.btn, a.btn:hover {
	color:white;
} 



input::placeholder { 
	color: rgba(0,0,0,0.3)!important;
}



.overlay {
	background-color:rgba(0,0,0,0.7);
	position:fixed;
	left:0;
	top:65px;
	width:100%;
	height:100%;
	display:none;
	z-index:999;
}




.panel {
	box-shadow: #eee 0 2px 0 0!important;
	border:1px solid #eee!important;
	.panel-header {
		background-color: white!important;
		font-size:18px;
		font-weight: bold;
		color:black;
		border:none!important;
		padding:20px 30px;
	}
	.panel-footer {
		background-color: white!important;
		border:none!important;
		padding:20px 30px 30px;
	}
	.panel-body {
		padding:0 30px;
	}
	&.only-body .panel-body {
		padding:20px 30px;
	}
}

input[type=text], input[type=password], input[type=email], textarea,
.form-control {
	color:black;
	border:none;
	border-radius: 3px;
	border: 2px solid #f8f8f8 !important;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus,
.form-control:focus {
	border:2px solid $main-color!important;
	background-color:transparent!important;
}

input[type=text].is-invalid, input[type=password].is-invalid, input[type=email].is-invalid {
	border:2px solid #dc3545!important;
	background-color:transparent!important;
}

input[type=text].is-valid, input[type=password].is-valid, input[type=email].is-valid {
	border:2px solid #28a745!important;
	background-color:transparent!important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background-color:#f8f8f8;
	border: 2px solid #f8f8f8 !important;
	color:rgba(0,0,0,0.3);
}


.input-group {
	.input-group-addon {
		padding-right:0;
		background-color: #f8f8f8;
		border: none;
		border-radius: 3px;
	}
	input[type=text] {
		border: 2px solid #f8f8f8 !important;
		background-color:#f8f8f8!important;
	}
}



.customSelect {
	position:relative;
	select {
		appearance:none;
		-moz-appearance:none; /* Firefox */
		-webkit-appearance:none; /* Safari and Chrome */
		padding-right:22px;
		&.input-lg {
			padding:0 16px;
		}
	}
	&:after {
		font-family:Material-Design-Iconic-Font!important;
		font-size:18px!important;
		content:"\f2f2"!important;
		color:black!important;
		position:absolute;
		right:10px;
		top:6px;
		z-index:99;
		pointer-events: none;
	}
	&.lg:after {
		top:12px;
	}
}

	


.behind-select {
	margin-left:10px;
	line-height:34px;
}

.invalid-feedback {
	font-size:12px;
	font-weight: bold;
	color:#dc3545;
	padding-top:2px;
}


label.title {
     font-size:12px;
     font-weight: bold;
     color:$text-prompt-color;
}

.btn {
	border-radius: 3px;
	font-size:14px;
	&.btn-lg {
		font-size:16px;
	}
}



.btn-default,
.btn-primary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-info,
.btn-white,
.btn-white-border,
.btn-blue-border,
.btn-red-border,
.btn-blue {
	border:none!important;
	letter-spacing: 0.5px;
	text-transform: uppercase!important;
	font-weight: bold!important;
	min-width:120px;
	border-radius: 3px;
	padding:10px 25px;
	transition: background-color 0.3s;
}

.btn-white, a.btn-white {
	background-color: white!important;
	color:black!important;
	border:1px solid white!important;
	&:hover {
		
	}
}

.btn-white-border, a.btn-white-border {
	background-color: transparent!important;
	color:white!important;
	border:1px solid white!important;
}

.btn-blue-border, a.btn-blue-border {
	background-color: transparent!important;
	color:$main-color!important;
	border:1px solid $main-color!important;
	padding:7px 14px;
	min-width: 100px;
	&:hover {
		background-color:$main-color!important;
		color:white!important;
		transition: background-color 0.3s;
	}
}

.btn-red-border, a.btn-red-border {
	background-color: transparent!important;
	color:red!important;
	border:1px solid red!important;
	padding:7px 14px;
	min-width: 100px;
	&:hover {
		background-color:red!important;
		color:white!important;
		transition: background-color 0.3s;
	}
}

.btn-blue, a.btn-blue {
	background-color: #0086F3!important;
	color:white!important;
	&:hover {
		background-color:#0477BC!important;
		color:white!important;
		transition: background-color 0.3s;
	}
}

.btn-info, a.btn-info {
	background-color: #7B909D!important;
	color:white!important;
	&:hover {
		background-color:#536671!important;
		transition: background-color 0.3s;
	}
}





.container-fluid {
	padding:0 30px;
}

.dropdown-menu {
	
	border-radius:3px!important;
	border:none!important;
	box-shadow:0 1px 10px 0 rgba(0,0,0,0.1)!important;
	
	li a {
		color:$text-color!important;
		padding:10px 15px;
	}
}



.display-rows {
	width:60px;
}


.search-box {
	width:100%;
	.input-group-addon {
		padding-right:3px;
		color: $text-color;
		text-align: center;
		background-color: #f8f8f8;
		border: none;
		border-radius: 3px;
	}
}


.table-responsive {
	border:none;
	margin-top: 10px;
	table>tbody, table>thead {
		th, td {
			border-top:none;
			border-bottom:1px solid #EAEFF0;
			white-space: nowrap!important;
		}
		th {color:black;}
		td.action {
			text-align: center;
		}
	}
}

.pagination {
    margin: 0;
    border-radius: 3px;
	* {
		font-size:13px;
		color:black!important;
	}
	li {
		a {
			background-color: transparent;
			border: none!important;
			padding:6px 15px;
		}
		a:hover {background-color:#f9f9f9; color:black!important;}
	}
	.active {
		a, a:hover, a:focus {
			border-radius:3px!important;
			background-color: #DCEDFF;
		}
	}
}


.sub-title {
	color:black;
	font-weight: bold;
	font-size:14px;
}

.big-title {
	font-weight: 200;
	font-size:36px;
	line-height: 1.2em;
	color:black;
	.decor {
		display:block;
		width:50px;
		height:1px;
		background-color: #ddd;
		margin:15px auto;
	}
}

footer {
	padding: 50px 0;
	text-align: center;
	a {
		color:black!important;
		font-weight: bold;
		font-size: 14px;
		letter-spacing: 1px;
		&:hover {
			color:$link-color!important;
		}
	}
	address {
		font-size:12px;
	}
	@media (max-width:768px) {
		.container {
			padding:0 10px;
		}
		a {
			letter-spacing: 0;
		}
	}
}



.no-gutters {
	padding-left:0!important;
	padding-right:0!important;
}

.modal {
	.modal-dialog {
		margin-top:70px;
	}
	.modal-content {
		border-radius:4px;
	}
	.modal-header, .modal-body, .modal-footer {
		padding:20px 30px;
	}
	.modal-header {
		font-size:18px;
		color:black;
		font-weight: bold!important;
		text-transform: uppercase;
		border:none;
	}
	.modal-body {
		padding-top:0;
		&.no-header {padding-top:20px;}
	}
	.modal-footer {
		border:none;
	}
}






