@import "_common.scss"; 

#header {	
	width:100%;
	height:550px;
	background: url(../images/hero-image.png) bottom center no-repeat;
	background-size: auto 100%;
	position:relative;
	.container {
		padding-left:15px;
		padding-right:15px;
	}
	
	.mid-content {
		z-index: 999;
		position:absolute;
		top: 50%;
		transform: translateY(-70%);
		width:100%;
		text-align: center;
		.slogan {
			font-size: 36px;
			font-weight: 200;
			color:white;
			line-height:1.2em;
			padding:0 30px;
			
			@media (max-width:680px) {
				br {display:none;}
			}
			@media (max-width:600px) {
				font-size: 30px;
				line-height: 1.2em;
			}
		}
	}
	
	&.sub {
		height:320px;
		background: url(../images/hero-image-sub.png) bottom center no-repeat;
		background-size: auto 100%;
		.mid-content {
			z-index: 999;
			position:absolute;
			top: 50%;
			transform: translateY(-50%);
			color:white;
			font-weight: 200;
			span {font-size:20px;}
			a {color:white!important;}
		}
	}
}



.navbar {
	background-color:transparent;
	border:none;
	.navbar-brand {
		padding:7px 15px!important;
	}
	.navbar-toggle {
		border:none!important;
		background-color:transparent!important;
		margin-top:4px;
		color:white!important;
	}
	.navbar-header {
		padding:5px 0;
	}
	.navbar-collapse {
		border: none;
	}
	ul.navbar-nav {
		margin-top:5px;
		li {
			a {
				font-size:14px;
				font-weight: bold;
				color:white!important;
				letter-spacing: 1px;
			}
		}
	}
}



.box {
	margin:50px 0 0;
	padding:0 20px;
	&#section-faq {
		max-width: 720px;
		margin-left:auto;
		margin-right:auto;
	}
}

.media-left.feature {padding-right: 50px;}


.benefit-subtitle {
	color:#56ABEA;
	font-size: 18px;
}

table.benefit {
	margin-bottom: 50px;
	width:100%;
	&.swap {
		direction: rtl;
		td {direction: ltr;}
	}
	
	@media (max-width:767px) {
		td {display: block; width: 100%;}
	}
}


table.downloads {
	max-width: 70%;
	@media (max-width:767px) {
		max-width: none!important;
	}
}

.store-btn {
	a {margin-bottom:20px; min-width: 170px;}
}


.contact-form {
	width:100%;
	background:url(../images/bg-contact.png) no-repeat;
	background-position: top center;
	padding:50px 0;
}

form.dark-theme {
	label.title {
		color:white!important;
	}
	input[type=text], input[type=password], input[type=email], textarea {
		color:white;
		border: 1px solid rgba(255,255,255,0.5)!important;
		background-color: transparent!important;
		box-shadow:none!important;
	}
	
	input::placeholder { 
	  color: rgba(255,255,255,0.3)!important;
	}

}



#accordion {
	background-color:white;
	border-radius:5px;
	margin-bottom:0;
	
	.panel, .panel-heading {
		border:none!important;
		padding:0!important;
		margin-bottom:15px;
		
	}
	
	.panel {
		box-shadow: none!important;
		border: none!important;
		border-bottom:1px dotted #ccc!important;
	}
	
	.panel-heading {
		background-color: white;
		font-size: 18px;
		font-weight: bold;
		color: black;
		border: none;
		padding: 20px 30px;

		cursor: pointer;
		.faq-bullet {
			color:$main-color;
			font-weight: bold;
		}
	}
	.panel-collapse {
		.panel-body {
			border:none;
			padding:0 0 15px 20px;
			line-height: 1.6em;
		}
	}
}




#login-wrapper {
	background:url(../images/bg_login.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	padding:50px 0;
	
     .powered-by {
          font-size:10px; 
          width: 100%;
          text-align: center;
          color:$text-prompt-color;
     }
}


.login-form {
     max-width:360px;
     margin:0 auto;
	.panel .panel-heading {
		background-color: white;
		font-size: 18px;
		font-weight: bold;
		color: black;
		border: none;
		padding: 20px 30px;
	}
}





/* Sidebar Styles  */ 


.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding:  0;
    list-style: none;
	
	li {
		a {
			display: block;
			text-decoration: none;
			color: $nav-normal-color;
			text-transform: uppercase;
			padding: 15px 20px;
			font-size:14px;
			font-weight: bold;

			i.zmdi {
				 display:inline-block;
				 width:35px;
				 margin-right:10px;
				 text-align: center;
			}

			&:hover {
				color: black!important;
				background-color: #f9f9f9;
				i { color: $main-color;}
			}
		}
		
		&.active a {
			color: black!important;
			background-color: #DCEDFF!important;
			i {color: $main-color;}
		}
		
		&.logo a {
			 padding:15px 20px;
			background-color: transparent!important;
		}
		
		&.parent {
			position:relative;
			a:after {
				position:absolute;
				font-family: "Material-Design-Iconic-Font";
				content:"\f2fb";
				font-size: 18px;
				top:13px;
				right:15px;
			}
		}
	}
	
	.sub-nav li {
		a {
			padding:10px 20px;
			padding-left:60px;
			font-size:80%;
			i.zmdi {
				margin-right: 5px;
				width:20px;
			}
			i.zmdi-circle {font-size:7px; position: relative; top:-2px;}
		}
		
		
	}
	
	hr {
		 border-top:1px solid #EAEFF0;
		 margin:0 20px;
		 margin-bottom:10px;
	}
}


#admin-header {
	height:58px;
	background-color:transparent;
}


#admin-header #menu-toggle {
	display:inline-block;
	height:58px;
	width:58px;
	line-height: 58px;
	text-align: center;
	display:none;
}

#admin-header #menu-toggle i {color:$text-color;}

#admin-header a#acc-dropdown {
	height:50px;
	text-align: right;
	padding-top:15px;
	display: inline-block;
	color:$text-color;
}

#admin-header .logo {
	display: none;
	padding:12px 0;
}


.page-title {
	margin-top: 20px;
	font-size:32px;
	font-weight: 300!important;
	margin-bottom:20px;
	color:black;
}


   

.num-counter {
	font-size:48px;
	line-height: 1em;
	font-weight: 200;
	color:black;
}

.panel strong.title {
	color:$text-prompt-color;
	font-size:14px;
}


.status-text {
	text-align:center;
	@media (max-width:768px) {
		text-align:right;
	}
}

.status-icon {
	text-align:center;
	@media (max-width:768px) {
		margin-top: 10px;
	}
}

/*Thanh Options*/

.num-status{
	font-size: 48px;
	width: auto;
    line-height: 1em;
    font-weight: 200;
    color: #067EFE;
    text-align: center;
}
.unit-status{
	font-size: 24px;
	width: auto;
    line-height: 1em;
    font-weight: 200;
    color: #067EFE;
    text-align: left;
    padding: 20px 0px 0px 5px;
}
.panel{
	&.status .panel-body {
		padding:5px 30px 20px 30px ; 
	}
	&.status .panel-header {
		padding-bottom: 0px; 
		text-align:center;
	}
}
.center-content{
	padding:auto; 
}
.panel-detail{
	border-bottom: 2px dotted #CCCCCC;
	padding-bottom: 5px; 
	padding-top: 15px; 
	.col-sm-4{
		padding: 0px;
	}
	.col-sm-8{
		padding: 0px;
	}
}
.panel-detail.no-line{
	border-bottom: none;
}
.mt42{
	margin-top: 42px;
}
.input-group.date.form_date{
	.input-group-addon{
		padding: 0px;
	}
	.blue-icon{
		color: #067EFE;
	}
}
.chart{
	@media (max-width:1400px) {
		max-width: 1000px;
	}
	@media (max-width:1200px) {
		max-width: 800px;
	}
	@media (max-width:768px) {
		max-width: 600px;
	}
	height: 300px;
	margin: 0 auto
}
.blue-text{
	color: #067EFE;
}
/*End Thanh Options*/
@import "_responsive.scss";
